h1{
    position: relative;
    margin: 50px;
}

h1 span{
    position: absolute;
    display: block;
    left: -2em;
    top: -2em;
    border-style: solid;
    border-color: blueviolet;
    background: blueviolet;
    border-width: 3px;
    border-radius: 100%;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transform: rotate(-15deg);


    
}